html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }
body {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    text-rendering: optimizeLegibility;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}
ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table, td {
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: top; }

b, strong {
  font-weight: bold; }

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  font-family: 'Philosopher', sans-serif; }

body {
  background: black;
  overflow: hidden; }

#container {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0; }
  #container .video-fader {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background: #000;
    transition: all 0.5s ease; }
    #container .video-fader.faded {
      opacity: 0.5;
      visibility: visible; }
    #container .video-fader.faded-full {
      opacity: 0.75s;
      visibility: visible; }

.quotes {
  transition: all 0.3s ease;
  position: absolute;
  top: 30%;
  color: white;
  width: 100%;
  white-space: nowrap;
  text-align: center; }
  @media only screen and (orientation: portrait) {
    .quotes {
      top: 15%;
      margin-top: 0; } }
  .quotes .item {
    text-align: center;
    width: 33%;
    box-sizing: border-box;
    display: inline-block;}
    .quotes .item .value {
      font-family: 'Poiret One', sans-serif;
      font-size: 8vmax;
      font-weight: bold;
      transition: all 1s ease; }
    .quotes .item.plus .value {
      color: #caefaf; }
    .quotes .item.minus .value {
      color: #efafaf; }
    .quotes .item .note {
      letter-spacing: 3px;
    }
    .quotes-mini .item .note.BRENT{
        width: 100%;
        text-align: center; }
        @media only screen and (orientation: portrait) {
          .quotes .item .note.BRENT, {
            width: 99%; } }
      @media (max-width: 1000px) and (orientation: landscape) {
        .quotes .item .note {
          font-size: 14px; } }
    @media only screen and (orientation: portrait) {
      .quotes .item {
        width: 99%;
        display: block;
        height: 20vmax; }
        .quotes .item .value {
          font-size: 15vmax; } }

.quotes-day {
  transition: all 0.3s ease;
  position: absolute;
  top: 5%;
  color: white;
  width: 100%;
  white-space: nowrap; 
  text-align: center;}
  @media only screen and (orientation: portrait) {
    .quotes-day {
      top: 1%;
      margin-top: 0; } }
  .quotes-day .item {
    text-align: center;
    width: 90%;
    box-sizing: border-box;
    display: inline-block; }
    .quotes-day .item .value {
      font-family: 'Poiret One', sans-serif;
      font-size: 5vmax;
      font-weight: bold;
      transition: all 1s ease; }
    .quotes-day .item .note {
      letter-spacing: 3px;
      font-size: 3vmax;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -pre-wrap;
      white-space: -o-pre-wrap;
      word-wrap: break-word;
    }
    .span.number{
        color: rgb(255, 255, 255);
        font-size: 4vmax;
        font-weight: bold;
        font-family: 'Philosopher';
      }
    @media only screen and (orientation: portrait) {
      .quotes-day .item {
        width: 99%;
        display: block;
        height: 15vmax; }}

.quotes-mini {
  transition: all 0.3s ease;
  position: absolute;
  bottom: 10%;
  color: white;
  width: 100%;
  white-space: nowrap; 
  text-align: center; }
  @media only screen and (orientation: portrait) {
    .quotes-mini {
      bottom: 5%;
      margin-top: 0; } }
  .quotes-mini .item {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    display: block; }
    .quotes-mini .item .value {
      font-family: 'Poiret One', sans-serif;
      font-size: 2vmax;
      font-weight: bold;
      transition: all 1s ease; }
    .quotes-mini .item.plus .value {
      color: #caefaf; }
    .quotes-mini .item.minus .value {
      color: #efafaf; }
    .quotes-mini .item .note {
      letter-spacing: 2px;
    }
    @media only screen and (orientation: portrait) {
      .quotes-mini .item {
        width: 99%;
        display: block;
        height: 3vmax; }}
     .quotes-mini .item .note.additional {
      letter-spacing: 2px;
      font-size: 2vmax;}

.b_footer__branches {
  position: absolute;
  left: 1%;
  bottom: 1%;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}

.b_footer__branches a {
    width: 3vmax;
    height: 3vmax;
    border-radius: 100px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    text-decoration: none;
    background: rgb(0, 0, 0);
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
}

.b_footer__branches img {
    width: 3vmax;
    height: 3vmax;
}








